<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Te amo Mi chinita Bella</title>
</head>
<body>
  <div class="amor">
    <h1>
      Te amo, si amor, te amo <br>
      ve, mira, observa y oye, <br>
      a pesar de que estoy trabajando <br>
      mi corazón latiendo,  <br>
      mi mente enfocada   <br>
      pienso en ti    <br>
      sueño por ti, <br>
      eres eso, eso amor  <br>
      tierna, dulce, bella  <br>
      mi chica sexi <br>
      donde una vida, es y será <br>
      nada con las ganas  <br>
      que tengo de amarte <br>
      para siempre, mia.  <br>
    </h1>
    att: You Lion!
  </div>
</body>
<footer>

</footer>
</html>